<div class="container">
    <div id="login-box">
        <div class="logo">
            <h1 class="logo-caption"><span class="tweak">C</span>hange password</h1>
        </div><!-- /.logo -->
        <div class="controls">
            <form #changePasswordForm="ngForm" (keyup.enter)="changePassword(changePasswordForm.form.valid)" novalidate *ngIf="passwordTokenValid && !passwordChanged">
                <input #password="ngModel" id="password" type="password" name="password" class="form-control"
                       maxlength="{{maxTextInputLength}}" [pattern]="passwordRegex" placeholder="{{'ChangePassword.Labels.Password' | translate}}" [(ngModel)]="changePasswordModel.password" appNotEmpty/>
                <div *ngIf="formSubmitted">
                    <div class="input-error" *ngIf="password.errors?.notEmpty">
                        {{'ChangePassword.Errors.PasswordRequired' | translate}}
                    </div>

                    <div class="input-error" *ngIf="!password.errors?.notEmpty && password.errors?.pattern">
                        {{'ChangePassword.Errors.InvalidPassword' | translate}}
                    </div>
                </div>
                <br/>

                <input #confirmPassword="ngModel" id="confirmPassword" type="password" name="confirmPassword" class="form-control"
                       placeholder="{{'ChangePassword.Labels.ConfirmPassword' | translate}}"
                       maxlength="{{maxTextInputLength}}" [(ngModel)]="changePasswordModel.confirmPassword" appNotEmpty validateEqual="password"/>
                <div *ngIf="formSubmitted">
                    <div class="input-error" *ngIf="confirmPassword.errors?.notEmpty">
                        {{'ChangePassword.Errors.ConfirmPasswordRequired' | translate}}
                    </div>
                    <div class="input-error" *ngIf="!confirmPassword.errors?.notEmpty && confirmPassword.errors?.validateEqual">
                        {{'ChangePassword.Errors.PasswordsDoNotMatch' | translate}}
                    </div>
                </div>

                <div class="input-error api-error" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <br/>

                <button type="button" class="btn btn-default btn-block btn-custom" (click)="changePassword(changePasswordForm.form.valid)">
                    {{'ChangePassword.Labels.Submit' | translate}}
                </button>
                <br/>
            </form>
            <div *ngIf="!passwordTokenValid">
                <div class="input-error api-error">
                    {{'ChangePassword.Errors.PasswordTokenExpired' | translate}}
                </div>
                <br/>

                <p class="forgot-password-text" align="center">
                    <span>{{'ChangePassword.Labels.ForgotPasswordLabel' | translate}} </span>
                    <a class="app-link" routerLink="/forgot-password">  {{'ChangePassword.Labels.ForgotPasswordLink' | translate}}</a>
                </p>
            </div>
            <div *ngIf="passwordTokenValid && passwordChanged">
                <p class="forgot-password-text" align="center">
                    <span>{{'ChangePassword.Labels.PasswordChangeSuccessfulLabel' | translate}} </span>
                    <br/>
                    <br/>
                    <a class="app-link" routerLink="/login"> {{'ChangePassword.Labels.LoginLink' | translate}}</a>
                </p>
            </div>
        </div><!-- /.controls -->
    </div><!-- /#login-box -->
</div><!-- /.container -->
