<div class="container">
    <div id="login-box">
        <div class="logo">
            <h1 class="logo-caption"><span class="tweak">F</span>orgot password</h1>
        </div><!-- /.logo -->
        <div class="controls">
            <form #resetPasswordForm="ngForm" (keyup.enter)="resetPassword(resetPasswordForm.form.valid)" novalidate>
                <input #email="ngModel" id="email" type="email" name="email" class="form-control"
                       placeholder="{{'ForgotPassword.Labels.Email' | translate}}"
                       maxlength="{{maxTextInputLength}}" [pattern]="emailRegex" [(ngModel)]="resetPasswordModel.email" appNotEmpty/>
                <div *ngIf="formSubmitted">
                    <div class="input-error" *ngIf="email.errors?.notEmpty">
                        {{'ForgotPassword.Errors.EmailRequired' | translate}}
                    </div>

                    <div class="input-error" *ngIf="!email.errors?.notEmpty && email.errors?.pattern">
                        {{'ForgotPassword.Errors.InvalidEmail' | translate}}
                    </div>
                </div>

                <div class="input-error api-error" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <br/>

                <div id="info-forgot-password-message" align="center" *ngIf="passwordResetRequestSent">
                    {{'ForgotPassword.Labels.ResetSuccessful' | translate}}
                </div>

                <button type="button" class="btn btn-default btn-block btn-custom" (click)="resetPassword(resetPasswordForm.form.valid)">
                    {{'ForgotPassword.Labels.ResetPassword' | translate}}
                </button>

            </form>
        </div><!-- /.controls -->
    </div><!-- /#login-box -->
</div><!-- /.container -->
